.card{
    width: 50%;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: linear-gradient(135deg, #00feba, #5b548a);
    flex-direction: column;
}
.search{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: space-between;
}
.search input{
    padding: 10px;
    height: 50px;
    margin-right: 16px;
    font-size: 18px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.search button{
    border: 0;
    outline: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-top: 10px;
}
.search button img{
    width: 16px;  
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
    gap: 200px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 70px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 2px;
    font-size: 14px;
    margin-top: 0px;
display: none;
}